/** 
 * Product.less
 */

.product {
    
    .product-nav {
        margin-top: 10px;
    
        li .product-nav-list {
            text-align: left;
            padding-left: 20px;
            margin: 0 -16px;
            height: 100%;
            border-bottom: 1px dashed #e1e1e1;
        }
        li:last-child .product-nav-list {
            border-bottom: none;
        }

    }

}