<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/js/components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/js/components/swiper/dist/css/swiper.min.css' /> -->
    <!-- <link rel='stylesheet' href='/css/style.css' /> -->
    <link rel='stylesheet' href='/fonts/iconfont.css' />
    <script type="text/javascript">
        var initialProps = <%- JSON.stringify(initialProps) %>
    </script>
</head>

<body>
    <div id="main"></div>
    <script type="text/javascript" src="/js/components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/js/components/react/react.min.js"></script>
    <script type="text/javascript" src="/js/components/react/react-dom.min.js"></script>
    <script type="text/javascript" src="/js/vendor.js"></script>
    <script type="text/javascript" src="/js/shownews.js"></script>
</body>

</html>
